/* Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Font Style */

body{

    font-family: "Inter", sans-serif;
    background-color: black;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* Navbar Styles Started */

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* nav styles */
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 190px 0 190px;
    padding-top: 57px;

}

.logo{

    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    text-align: center;

}

.navlist{

    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap: 20px;
    padding: 12px 5px;
    border-radius: 50px;

}



.navlist a{

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all .52s ease;

}

.active{

    background: rgb(230, 83, 60);

}

.navlist a:hover{

    background: rgb(230, 83, 60);

}
.hamburger{

    color: white;
    display: none;
    font-size: 24px;

}

/* hero section styles */

.hero{

    display: flex;
    margin: 0 190px 0 190px;
    margin-top: 96px;

}

.hero-text h1{

    color: white;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;

}

.hero-text span{

    font-family: Dancing Script;

}

.hero-text p{

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;

}

.hero-btn button{

    padding: 16px 40px;
    border: none;
    border-radius: 50px;
    background: rgb(230, 83, 60);
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
    transition: all .52s ease;
    cursor: pointer;

}

.hero-btn .btn2{
    
    background: transparent;
    border: 1px solid white;

}

.hero-img{

    position: relative;

}
.hero-img img{

    position: absolute;
    width: 349px;
    height: 580px;
    left: 250px;
    top: -80px;

}

.vdo-tut{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 96px;
    top: 350px;
    left: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

#ellipse{

    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;

}

.vdo-tut p{

    color: white;
    font-size: 24px;
    font-weight: 900;

}
.vdo-tut p >span{

    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;

}

.workout-vdo{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 193px;
    height: 98px;
    left: 450px;
    top: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

}

.workout-vdo p{

    font-size: 40px;
    font-weight: 900;
    color: white;
    padding-left: 24px;

}

.workout-vdo span{

    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    padding-left: 24px;

}

/* habits section styles */

.habits{

    margin: 0 190px 0 190px;

}

.habits-text h1{

    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 14px;

}
.habits-text p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;

}

.habits-example{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.habits-example div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 231px;
    height: 274px;

}

.habits img{

    width: 180px;
    border: 5px solid red;
    border-radius: 100px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 26px;

}

.habits-example h5{

    color: white;
    font-size: 18px;
    text-align: center;


}
.habits-example p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    margin-top: 6px;
    
}

/* run section styles */

.run{
    margin: 0 190px 0 190px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
    padding: 30px 30px 30px 54px;
}

.run-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.run-text{
    flex: 1;
    min-width: 443px;
}

.run-text h1{

    color: white;
    font-size: 3em;
    margin-bottom: 14px;

}

.run-text p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 2.125rem;

}

.run-text button{

    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 80px 16px 80px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;

}

.run-img{

    flex: 1;
    min-width: 366px;
    display: inline;


}

.run-img img{

    object-fit: none;
    object-position: 65% 30%;
    max-width: 100%;
    height: auto;
    border-radius: 18px;
    
}

.exercises{

    margin: 0 190px 0 190px;
    margin-top: 100px;

}

.exercises-text h1{

    color: white;
    font-size: 3em;
    margin-bottom: 14px;

}

.exercises-text p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 14px;

}

.exercises-img{

    position: relative;
    margin-top: 58px;

}

.row-1{

    height: 200px;
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

.row-1 img{

    width: 100%;
    height: 200px;
    object-fit: cover;

}

.img-1{

    position: relative;

}

.img-2{

    position: relative;

}

.img-3{

    position: relative;

}

.img-1 p{

    position: absolute;
    font-size: 14px;
    left: 24px;
    top: 157px;
    font-weight: 500;

}

.img-2 p{

    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: white;
    left: 31px;
    top: 25px;

}

.img-3 p{

    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: white;
    left: 27px;
    top: 146px;

}

.row-2{

    height: 200px;
    display: grid;
    grid-template-columns: 37% 30% 33%;

}

.row-2 img{

    width: 100%;
    height: 200px;
    object-fit: cover;

}

.img-4{

    position: relative;

}


.img-5{

    position: relative;

}

.img-6{

    position: relative;

}

.img-4 p{

    position: absolute;
    font-size: 14px;
    left: 24px;
    top: 157px;
    font-weight: 500;

}

.img-5 p{

    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: white;
    left: 31px;
    top: 25px;

}

.img-6 p{

    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: white;
    left: 31px;
    top: 25px;

}

/* bmi calculator styles */

.bmi-text{

    margin: 0 384px 0 384px;
    margin-top: 78px;
}

.bmi-text h1{

    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;

}

.bmi-text p{
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}

/* bmi calculator chart styles */

.bmi-calculator-chart{

    display: flex;
    justify-content: space-between;
    padding: 52px 190px 52px 190px;
    background: rgb(34, 34, 34);
    margin-top: 88px;

}

.bmi-chart h1{

    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
}

.bmi-chart table, th, tr, td{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    border-collapse: collapse;
    padding: 15px 25px;

}

.bmi-chart th{

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;

}

.bmi-calculator-text h1{

    color: white;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;

}

.bmi-calculator-text p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}

.calculator{

    margin-top: 34px;

}

.calculator input{

    padding: 12px 80px 12px 20px;
    border: none;
    margin-top: 12px;
    margin-right: 6px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);

}

.calculator select{

    padding: 12px 192px 12px 12px;
    border: none;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);

}

#activity{

    padding: 12px 378px 12px 12px;

}

.calculator button{

    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 80px 16px 80px;
    margin-top: 34px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;

}

.our-team{

    margin: 0 190px 0 190px;
    margin-top: 88px;

}

.our-team-title{

    margin-bottom: 58px;

}
.our-team-title h1{

    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 900;

}

.our-team-title p{

    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}
.team-img-container{

    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: fit-content;

}

.team-img{

    width: 100%;
    position: relative;
    
}

.team-img img{

    width: 100%;
    height: 272px;
    object-fit: cover;
    object-position: top;
    border-radius: 18px;

}

.team-img-text{

    position: absolute;
    top: 82%;
    left: 5%;

}

.team-img-text h1{

    color: white;
    font-size: 20px;

}

.team-img-text p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

footer{

    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;

}

.footer-container{

    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin: 0 190px;
    padding-top: 66px;

}

.footer-logo a{

    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;


}

.footer-logo p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}

.get-started h1{

    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;

}

.get-started a{

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;

}

.get-started a:hover{

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
hr{

    margin: 0 190px;
    border: 2px solid rgba(255, 255, 255, 0.1);

}

.copyright{

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 35px 0;
}

/* find gym styles */

.find-gym{

    padding: 49px 190px;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);

}

.find-gym-title h1{

    margin-bottom: 49px;
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;

}

.find-gym-text{

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 34px;

}


.find-gym-text i{

    margin-bottom: 15px;
    margin-right: 8px;
    color: rgb(230, 83, 60);

}

.find-gym-text span{      

    color: rgba(239, 237, 232, 0.65);

}

.find-gym-text a{

    color: rgb(31, 81, 255);
    font-size: 12px;
    
}

.find-gym-input{

    display: flex;
    align-items: center;
    justify-content: center;

}

.find-gym-input input{

    padding: 12px 100px 12px 20px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    margin-right: 1px;

}

.find-gym-input button{

    padding: 12px 20px 12px 20px;
    border: none;
    background-color: rgb(230, 83, 60);
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;

}




/* responsive media query */

@media screen and (max-width: 576px) {
    nav{
        margin: 0 20px 0 20px;
    }
    .navlist{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hero{
        margin: 0 20px 0 20px;
        margin-top: 50px;
        flex-direction: column;
    }
    .hero h1{
        font-size: 36px;
    }
    .hero-btn button{
        padding: 12px 20px;
    }

    .hero-img{
        width: 353px;
        height: 588px;
        margin: 0 auto;
        margin-top: 48px;
    }
    .hero-img img{
        top: 0px;
        left: 0px;
    }
    .vdo-tut{
        width: 155.74px;
        height: 72.58px;
    }
    #ellipse{
        width: 30px;
        height: 30px;
    }
    .vdo-tut{
        left: 5px;
        top: 280px;
    }
    .vdo-tut p{
        font-size: 18px;
    }
    .vdo-tut p >span{
        font-size: 12px;
    }

    .workout-vdo{
        width: 145.91px;
        height: 74.09px;
        left: 200px;
        top: 80px;
    }
    .workout-vdo p{
        font-size: 30px;
    }
    .workout-vdo span{
        font-size: 9px;
    }
    .habits{
        margin: 0 20px 0 20px;
    }
    .habits-text h1{
        font-size: 32px;
        margin-top: 0px;
    }
    .habits-example{
        flex-direction: column;
        gap: 35px;
    }
    .run{
        margin: 0 20px 0 20px;
        margin-top: 66px;
    }
    .run-content{
        flex-direction: column;
        align-items: normal;
        flex-wrap: nowrap;
    }
    .run-img{
        min-width: 287px;
    }
    .run-img img{
        max-width: 100%;
    }
    .run-text{
        min-width: 287px;
        }
    .run-text h1{
        font-size: 2em;
    }
    .run-text button{
        margin-bottom: 31px;
        padding: 16px 80px 16px 80px;
    }
    .exercises{
        margin: 0 20px 0 20px;
        margin-top: 66px;
    }
    .exercises-img{
        margin-top: 37px;
    }
    .row-1{
        height: 200px;
        display: grid;
        grid-template-columns: 55% 45%;
    }
    .img-3{
        display: none;
    }
    .row-2{
        height: 200px;
        display: grid;
        grid-template-columns: 45% 55%;
    }
    .img-6{
        display: none;
    }
    .bmi-text{
        margin: 0 20px 0 20px;
        margin-top: 25px;
    }
    .bmi-text h1{
        font-size: 32px;
    }
    .bmi-calculator-chart{
        padding: 34px 20px 34px 20px;
        flex-direction: column;
    }
    .bmi-calculator{
        margin-top: 42px;
    }
    .calculator input{
        padding: 12px 0px 12px 20px;
    }
    .calculator select{
        padding: 12px 108px 12px 12px;  
    }
    #activity{
        padding: 12px 210px 12px 12px;
    }
    .our-team{
        margin: 0 20px 0 20px;
        margin-top: 66px;
    }
    .our-team-title{
        margin-bottom: 37px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        margin-top: 44px;
    }
    .footer-container{
        flex-direction: column;
        margin: 0 20px;
        padding-top: 44px;
    }
    .footer-logo{
        margin-bottom: 30px;
    }
    hr{
        margin: 0 20px;
    }
    .find-gym{
        padding: 49px 20px;
    }
    .find-gym-title h1{
        font-size: 32px;
        margin-bottom: 30px;
        text-align: left;
    }
    .find-gym-text{
        flex-direction: column;
        align-items: flex-start;
    }
    .find-gym-input{
        justify-content: flex-start;
    }
}
